// Navigation Styles here

.navigation {
    .flexyboy();
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px dashed @navigation-border;;
    margin: 4% 7% 0% 4%;
    padding: 2%;

    .fun-bus-logo {
        font-size: 4rem;
        font-family: 'Indie Flower', cursive;
        margin-left: 10%;
    }

    .navbar {
        .flexyboy();
        justify-content: space-between;
        //border: solid;
        margin-right: 10%;

        nav {
            white-space: nowrap;
            padding: 5%;
            padding-left: 10%;
            font-size: 1.6rem;
        }
    }
}